/* Tema warna dan background */
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff7f50, #6a5acd, #ffffff);
  background-size: 300% 300%;
  animation: gradientBG 15s ease infinite;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Card login */
.card-container {
  width: 400px;
  padding: 30px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  left: 17%;
  opacity: 0;
  transform: translateY(-20px);
  text-align: center;
}

/* Animasi masuk */
.card-container.show {
  opacity: 10;
  transform: translateY(0);
  transition: 1s;
}

/* Animasi hover */
.card-container:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.btn-primary {
  background-color: #6a5acd;
  border-color: #ff7f50;
  color: black;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ff7f50;
  border-color: #6a5acd;
  color: #ffffff;
}

.btn-dashboard {
  background-color: #ff7f50;
  border-color: #6a5acd;
  display: inline-block;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-dashboard:hover {
  background-color: #6a5acd;
  border-color: #ff7f50;
  color: black;
}

h2 {
  color: #6a5acd;
  text-align: center;
  margin-bottom: 20px;
}

/* Style logo */
.logo-container {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.logo-container img {
  max-width: 500px;
  max-height: 500px;
}

.logo-container {
  display: flex;
  justify-content: center;
  /* Posisi logo di tengah */
  align-items: center;
  margin-bottom: 20px;
  /* Jarak dari elemen di bawahnya */
}

.circle-avatar {
  width: 300px;
  /* Sesuaikan ukuran lebar dan tinggi */
  height: 300px;
  border-radius: 50%;
  /* Membuat bentuk lingkaran */
  object-fit: cover;
  /* Menjaga proporsi gambar */
  border: 5px solid #6a5acd;
  /* Warna ungu pada border lingkaran */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Memberikan sedikit bayangan */
  transition: transform 0.3s ease;
}

.circle-avatar:hover {
  transform: scale(1.1);
  /* Membuat animasi saat hover */
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.circle-avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #6a5acd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.circle-avatar:hover {
  transform: scale(1.1);
}

.project-title {
  font-family: "Poppins", sans-serif; /* Font modern dan elegan */
  font-size: 40px; /* Ukuran font */
  font-weight: bold; /* Membuat tulisan tebal */
  color: black; /* Warna ungu yang sama dengan elemen lainnya */
  margin-top: 10px; /* Jarak antara logo dan tulisan */
  text-align: center; /* Membuat tulisan rata tengah */
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-18 14:8:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

/* Table */
.dashboard-title {
  font-family: "Poppins", sans-serif;
  /* Font modern dan elegan */
  font-size: 30px;
  /* Ukuran font */
  font-weight: bold;
  /* Membuat tulisan tebal */
  color: #6a5acd;
  /* Warna ungu yang sama dengan elemen lainnya */
  margin-top: 10px;
  /* Jarak antara logo dan tulisan */
  text-align: center;
  /* Membuat tulisan rata tengah */
}

.history-title {
  font-family: "Poppins", sans-serif;
  /* Font modern dan elegan */
  font-size: 30px;
  /* Ukuran font */
  font-weight: bold;
  /* Membuat tulisan tebal */
  color: #6a5acd;
  /* Warna ungu yang sama dengan elemen lainnya */
  margin-top: 10px;
  /* Jarak antara logo dan tulisan */
  text-align: center;
  /* Membuat tulisan rata tengah */
}

.table-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px;
  margin-top: 30px;
}

.tabled-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin-top: 30px;
}

.tabled-container.show {
  opacity: 10;
  transform: translateY(5);
  transition: 1s;
}

/* Animasi hover */
.tabled-container:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

h2 {
  color: #6a5acd;
  text-align: center;
  margin-bottom: 20px;
}

.btn-success {
  background-color: #6a5acd;
  border-color: #6a5acd;
}

.btn-success:hover {
  background-color: #ff7f50;
  border-color: #ff7f50;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
}

/* Responsif */
@media (max-width: 767px) {
  .table-container {
    width: 100%;
    padding: 15px;
  }
}

/* form */
/* General Styling */

.gradient-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(45deg, #ff7f50, #6a5acd, #ffffff);
  background-size: 300% 300%;
  animation: gradient-move 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Animation */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Floating Label */
.floating-label {
  position: relative;
  margin-bottom: 10px;
}

.floating-label input,
.floating-label select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px 10px 15px;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.floating-label label {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 16px;
  color: #aaa;
  transition: all 0.3s ease;
  pointer-events: none;
}

/* Floating Effect on Focus */
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label,
.floating-label select:focus + label {
  top: -8px;
  left: 10px;
  font-size: 14px;
  color: #6a1b9a;
  background-color: white;
  padding: 0 5px;
}

/* Buttons */
.button-group .btn {
  width: 100px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-group2 .btn {
  width: 60px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-purple {
  background-color: #6a1b9a;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #4a1172;
  transform: scale(1.05);
}

.btn-orange {
  background-color: #ff7043;
  color: white;
  border: none;
}

.btn-orange:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}
